{% extends 'usercenter.html' %}
{% block body %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/cart.js"></script>

	<div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="total_count">全部商品</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for cart in ucart %}
	<ul class="cart_list_td clearfix" id="{{ cart.goods_id.id }}">
		<li class="col01"><input type="checkbox" name="check" checked=""></li>
        <li class="col02"><a href="/detail/{{ cart.goods_id.id }}" class="pic"><img src="/static/media/{{ cart.goods_id.picture }}"></a></li>
		<li class="col03" id="{{ cart.goods_id.g_title }}">{{ cart.goods_id.g_title }}<br><em>{{ cart.goods_id.price }}元/{{ cart.goods_id.unit }}</em><br>库存:<em id="reserve">{{ cart.goods_id.reserve }}</em></li>
		<li class="col04">{{ cart.goods_id.unit }}</li>
        <li class="col05"><em id="gprice">{{ cart.goods_id.price }}元</em></li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" id="add" class="add fl">+</a>
				<input type="text" class="num_show fl" id="num_show" value="{{ cart.amount }}">
				<a href="javascript:;" id="minus" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"><em id="gtotal">{{ cart.goods_id.price }}元</em></li>
		<li class="col08"><a href="/cart/delete{{ cart.goods_id.id }}/" id="delete">删除</a></li>
	</ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="check_all" id="check_all" checked=""></li>
        <li class="col02"><em>全选</em></li>
        <li class="col03">合计(不含运费)：<span>¥</span><em id="gtotal"></em><br>共计<b><em id="total_count1">0</em></b>件商品</li>
		<li class="col04" id="pay"><a href="javascript:;" id="pay_btn">去结算</a></li>
	</ul>
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>


</body>
</html>
{% endblock body %}
