{% extends 'baseindex.html' %}
{% block body %}
    <script type="text/javascript">

        $(function () {
            //alert($('.add_goods').attr('title'));
            $('.add_goods').click(function () {
                if($('#username1').text()){
                    goods_id=$(this).parents('.operate').attr('id');
                    $.get('/cart/add'+goods_id+'_1', function (data) {
                        alert('添加成功');
                        $('#show_count').html(data.count1);
                    });
                }else {
                    alert('请先登录');
                }
            });
        });
    </script>

	<div class="breadcrumb">
		<a href="/index/">全部分类</a>
		<span>></span>
		<a href="#">搜索结果</a>
	</div>

		<div class="r_wrap fr clearfix">

			<ul class="goods_type_list clearfix">

                    {% for goods in page.object_list %}
                        <li>
                            <a href="/detail/{{ goods.id }}"><img src="/static/media/{{ goods.picture }}"></a>
                            <h4><a href="/detail/{{ goods.id }}">{{ goods.g_title }}</a></h4>
                            <div class="operate" id="{{ goods.id }}">
                                <span class="prize">￥{{ goods.price }}</span>
                                <span class="unit">{{ goods.price }}/{{ goods.unit }}</span>
                                <a href="javascript:;" class="add_goods" id="add_goods" title="加入购物车"></a>
                            </div>
                        </li>
                    {% endfor %}

			</ul>
			<div class="pagenation">
				{% if page.has_previous == True %}
					<a href="?q={{ query }}&page={{ page.previous_page_number }}">上一页</a>
				{% endif %}

				{% for i in page.paginator.page_range %}
					{% if page.number == i %}
					<a class="active">{{ i }}</a>
					{% else %}
					<a href="?q={{ query }}&page={{ i }}">{{ i }}</a>
					{% endif %}
				{% endfor %}

				{% if page.has_next == True %}
				<a href="?q={{ query }}&page={{ page.next_page_number }}">下一页></a>
				{% endif %}
			</div>
		</div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock body %}





{#    #}
{#    #}
{#    #}
{#    <ul class="goods_type_list clearfix">#}
{#    {% for goods in page %}#}
{#        <li>#}
{#            <a href="/detail/{{ goods.id }}"><img src="/static/media/{{ goods.picture }}"></a>#}
{#            <h4><a href="/detail/{{ goods.id }}">{{ goods.g_title }}</a></h4>#}
{#            <div class="operate" id="{{ goods.id }}">#}
{#                <span class="prize">￥{{ goods.price }}</span>#}
{#                <span class="unit">{{ goods.price }}/{{ goods.unit }}</span>#}
{#                <a href="javascript:;" class="add_goods" id="add_goods" title="加入购物车"></a>#}
{#            </div>#}
{#        </li>#}
{#    {% endfor %}#}
{##}
{#    <div class="pagenation">#}
{#        {% if page.has_previous %}#}
{#            <a href="{{ page.previous_page_number }}"><上一页</a>#}
{#        {% endif %}#}
{##}
{#        {% for p in page.paginator.page_range %}#}
{#            {% if page.number == p %}#}
{#                <a href="{{ p }}" class="active">{{ p }}</a>#}
{#            {% else %}#}
{#                <a href="{{ p }}">{{ p }}</a>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{##}
{#        {% if page.has_next %}#}
{#            <a href="{{ page.next_page_number }}">下一页></a>#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#{% if query %}#}
{#    <h3>搜索结果如下：</h3>#}
{#    {% for result in page.object_list %}#}
{#        <a href="/{{ result.object.id }}/">{{ result.object.gName }}</a><br/>#}
{#    {% empty %}#}
{#        <p>Nothing Found</p>#}
{#    {% endfor %}#}
{##}
{#    {% if page.has_previous or page.has_next %}#}
{#        <div>#}
{#            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}#}
{#        |#}
{#            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endif %}#}
